body{
    background-color: rgb(255, 255, 255);
}

#container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-color: rgb(33, 80, 80);
    margin: 0.5em;
}

#post{
    color: white;
    margin: 1em; 
}

h1{
    background-color: black;
    margin: 0;
}

header{
    text-align: center;
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    font-size: x-large;
}