body{
    background-color: rgb(255, 255, 255);
}

#container{
    width: 70%;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    margin: 0 auto;
}

header{
    background-color: blue;
    color: white;
    margin: 0 auto;
    padding: 0.5em;
    font-weight: bold;
}

#container h1{
    font-size: 20px;

}